* {
    font-family: sans-serif;
}

.dash-graph * {
    cursor: default !important;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex: 1;
}

#input {
    height: 300px;
    resize: none;
}